#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  #eventsPage .title {
    position: fixed;
    top: 0;
    left: 0;
    color: #f1f1f1;
    width: 550px;
    padding: 15px;
    font-size: 40px;

    background-color: #dea8f4;
    border: 1px solid #000000;
    color: #000000; /*text colour*/
    font-size: 15px;
    margin: 0;
    box-shadow: 8px 5px 0px #fff;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  .info_box {
    position: fixed;
    right: 285px;
    bottom: 200px;
    background-color: #000;
    color: #f1f1f1;
    width: 550px;
    padding: 15px;
    font-size: 40px;
    margin: 0;

    background-color: #dea8f4;
    border: 1px solid #000000;
    color: #000000; /*text colour*/
    font-size: 15px;
    box-shadow: 8px 5px 0px #fff;
  }

  #eventsPage {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.text-box {
    display: flex;
    font-size: 8rem;
    color: #f9c2c5;
    text-shadow: -5px 5px 1px rgba(255, 255, 255, .5);
}
.text-box #text-one {
    transform: rotate(-5deg);
    text-shadow: -1px 1px rgba(213, 174, 192, -0.4) ,-2px 2px rgba(62, 103, 180, 1.9333333333333) ,-3px 3px rgba(48, 96, 179, 4.2666666666667) ,-4px 4px rgba(43, 94, 178, 6.6) ,-5px 5px rgba(40, 93, 178, 8.9333333333333) ,-6px 6px rgba(39, 92, 178, 11.266666666667) ,-7px 7px rgba(38, 91, 178, 13.6) ,-8px 8px rgba(37, 91, 178, 15.933333333333) ,-9px 9px rgba(36, 91, 178, 18.266666666667) ,-10px 10px rgba(36, 91, 178, 20.6) ,-11px 11px rgba(35, 90, 178, 22.933333333333) ,-12px 12px rgba(35, 90, 178, 25.266666666667) ,-13px 13px rgba(35, 90, 178, 27.6) ,-14px 14px rgba(34, 90, 178, 29.933333333333) ,-15px 15px rgba(34, 90, 178, 32.266666666667) ,-16px 16px rgba(34, 90, 178, 34.6) ,-17px 17px rgba(34, 90, 178, 36.933333333333) ,-18px 18px rgba(34, 90, 178, 39.266666666667) ,-19px 19px rgba(34, 90, 177, 41.6) ,-20px 20px rgba(34, 90, 177, 43.933333333333) ,-21px 21px rgba(33, 90, 177, 46.266666666667) ,-22px 22px rgba(33, 89, 177, 48.6) ,-23px 23px rgba(33, 89, 177, 50.933333333333) ,-24px 24px rgba(33, 89, 177, 53.266666666667) ,-25px 25px rgba(33, 89, 177, 55.6) ,-26px 26px rgba(33, 89, 177, 57.933333333333) ,-27px 27px rgba(33, 89, 177, 60.266666666667) ,-28px 28px rgba(33, 89, 177, 62.6) ,-29px 29px rgba(33, 89, 177, 64.933333333333) ,-30px 30px rgba(33, 89, 177, 67.266666666667) ,-31px 31px rgba(33, 89, 177, 69.6) ,-32px 32px rgba(33, 89, 177, 71.933333333333) ,-33px 33px rgba(33, 89, 177, 74.266666666667) ,-34px 34px rgba(33, 89, 177, 76.6) ,-35px 35px rgba(33, 89, 177, 78.933333333333) ,-36px 36px rgba(33, 89, 177, 81.266666666667) ,-37px 37px rgba(33, 89, 177, 83.6) ,-38px 38px rgba(33, 89, 177, 85.933333333333) ,-39px 39px rgba(33, 89, 177, 88.266666666667) ,-40px 40px rgba(33, 89, 177, 90.6) ,-41px 41px rgba(33, 89, 177, 92.933333333333) ,-42px 42px rgba(33, 89, 177, 95.266666666667) ,-43px 43px rgba(33, 89, 177, 97.6) ,-44px 44px rgba(33, 89, 177, 99.933333333333) ,-45px 45px rgba(32, 89, 177, 102.26666666667) ,-46px 46px rgba(32, 89, 177, 104.6) ,-47px 47px rgba(32, 89, 177, 106.93333333333) ,-48px 48px rgba(32, 89, 177, 109.26666666667) ,-49px 49px rgba(32, 89, 177, 111.6) ,-50px 50px rgba(32, 89, 177, 113.93333333333) ,-51px 51px rgba(32, 89, 177, 116.26666666667) ,-52px 52px rgba(32, 89, 177, 118.6) ,-53px 53px rgba(32, 89, 177, 120.93333333333) ,-54px 54px rgba(32, 89, 177, 123.26666666667) ,-55px 55px rgba(32, 89, 177, 125.6) ,-56px 56px rgba(32, 89, 177, 127.93333333333) ,-57px 57px rgba(32, 89, 177, 130.26666666667) ,-58px 58px rgba(32, 89, 177, 132.6) ,-59px 59px rgba(32, 89, 177, 134.93333333333) ,-60px 60px rgba(32, 89, 177, 137.26666666667);
    z-index: 99;
}
.text-box #text-two {
    transform: rotate(8deg) translate(15px, 30px);
    text-shadow: -1px -0.3px rgba(213, 174, 192, -0.4) ,-2px -0.6px rgba(62, 103, 180, 1.9333333333333) ,-3px -0.9px rgba(48, 96, 179, 4.2666666666667) ,-4px -1.2px rgba(43, 94, 178, 6.6) ,-5px -1.5px rgba(40, 93, 178, 8.9333333333333) ,-6px -1.8px rgba(39, 92, 178, 11.266666666667) ,-7px -2.1px rgba(38, 91, 178, 13.6) ,-8px -2.4px rgba(37, 91, 178, 15.933333333333) ,-9px -2.7px rgba(36, 91, 178, 18.266666666667) ,-10px -3px rgba(36, 91, 178, 20.6) ,-11px -3.3px rgba(35, 90, 178, 22.933333333333) ,-12px -3.6px rgba(35, 90, 178, 25.266666666667) ,-13px -3.9px rgba(35, 90, 178, 27.6) ,-14px -4.2px rgba(34, 90, 178, 29.933333333333) ,-15px -4.5px rgba(34, 90, 178, 32.266666666667) ,-16px -4.8px rgba(34, 90, 178, 34.6) ,-17px -5.1px rgba(34, 90, 178, 36.933333333333) ,-18px -5.4px rgba(34, 90, 178, 39.266666666667) ,-19px -5.7px rgba(34, 90, 177, 41.6) ,-20px -6px rgba(34, 90, 177, 43.933333333333) ,-21px -6.3px rgba(33, 90, 177, 46.266666666667) ,-22px -6.6px rgba(33, 89, 177, 48.6) ,-23px -6.9px rgba(33, 89, 177, 50.933333333333) ,-24px -7.2px rgba(33, 89, 177, 53.266666666667) ,-25px -7.5px rgba(33, 89, 177, 55.6) ,-26px -7.8px rgba(33, 89, 177, 57.933333333333) ,-27px -8.1px rgba(33, 89, 177, 60.266666666667) ,-28px -8.4px rgba(33, 89, 177, 62.6) ,-29px -8.7px rgba(33, 89, 177, 64.933333333333) ,-30px -9px rgba(33, 89, 177, 67.266666666667) ,-31px -9.3px rgba(33, 89, 177, 69.6) ,-32px -9.6px rgba(33, 89, 177, 71.933333333333) ,-33px -9.9px rgba(33, 89, 177, 74.266666666667) ,-34px -10.2px rgba(33, 89, 177, 76.6) ,-35px -10.5px rgba(33, 89, 177, 78.933333333333) ,-36px -10.8px rgba(33, 89, 177, 81.266666666667) ,-37px -11.1px rgba(33, 89, 177, 83.6) ,-38px -11.4px rgba(33, 89, 177, 85.933333333333) ,-39px -11.7px rgba(33, 89, 177, 88.266666666667) ,-40px -12px rgba(33, 89, 177, 90.6) ,-41px -12.3px rgba(33, 89, 177, 92.933333333333) ,-42px -12.6px rgba(33, 89, 177, 95.266666666667) ,-43px -12.9px rgba(33, 89, 177, 97.6) ,-44px -13.2px rgba(33, 89, 177, 99.933333333333) ,-45px -13.5px rgba(32, 89, 177, 102.26666666667) ,-46px -13.8px rgba(32, 89, 177, 104.6) ,-47px -14.1px rgba(32, 89, 177, 106.93333333333) ,-48px -14.4px rgba(32, 89, 177, 109.26666666667) ,-49px -14.7px rgba(32, 89, 177, 111.6) ,-50px -15px rgba(32, 89, 177, 113.93333333333) ,-51px -15.3px rgba(32, 89, 177, 116.26666666667) ,-52px -15.6px rgba(32, 89, 177, 118.6) ,-53px -15.9px rgba(32, 89, 177, 120.93333333333) ,-54px -16.2px rgba(32, 89, 177, 123.26666666667) ,-55px -16.5px rgba(32, 89, 177, 125.6) ,-56px -16.8px rgba(32, 89, 177, 127.93333333333) ,-57px -17.1px rgba(32, 89, 177, 130.26666666667) ,-58px -17.4px rgba(32, 89, 177, 132.6) ,-59px -17.7px rgba(32, 89, 177, 134.93333333333) ,-60px -18px rgba(32, 89, 177, 137.26666666667);
    z-index: 98;
}
.text-box #text-three {
    transform: rotate(-7deg) translate(5px, -10px);
    text-shadow: -2px 1px rgba(213, 174, 192, -0.3) ,-4px 2px rgba(67, 105, 180, 1.8666666666667) ,-6px 3px rgba(58, 101, 179, 4.0333333333333) ,-8px 4px rgba(55, 99, 179, 6.2) ,-10px 5px rgba(53, 99, 179, 8.3666666666667) ,-12px 6px rgba(52, 98, 179, 10.533333333333) ,-14px 7px rgba(51, 98, 179, 12.7) ,-16px 8px rgba(51, 98, 179, 14.866666666667) ,-18px 9px rgba(50, 98, 179, 17.033333333333) ,-20px 10px rgba(50, 97, 179, 19.2) ,-22px 11px rgba(50, 97, 179, 21.366666666667) ,-24px 12px rgba(50, 97, 179, 23.533333333333) ,-26px 13px rgba(50, 97, 179, 25.7) ,-28px 14px rgba(49, 97, 179, 27.866666666667) ,-30px 15px rgba(49, 97, 179, 30.033333333333) ,-32px 16px rgba(49, 97, 179, 32.2) ,-34px 17px rgba(49, 97, 179, 34.366666666667) ,-36px 18px rgba(49, 97, 179, 36.533333333333) ,-38px 19px rgba(49, 97, 179, 38.7) ,-40px 20px rgba(49, 97, 179, 40.866666666667) ,-42px 21px rgba(49, 97, 179, 43.033333333333) ,-44px 22px rgba(49, 97, 179, 45.2) ,-46px 23px rgba(49, 97, 179, 47.366666666667) ,-48px 24px rgba(49, 97, 179, 49.533333333333) ,-50px 25px rgba(49, 97, 179, 51.7) ,-52px 26px rgba(49, 97, 179, 53.866666666667) ,-54px 27px rgba(49, 97, 179, 56.033333333333) ,-56px 28px rgba(49, 97, 179, 58.2) ,-58px 29px rgba(49, 97, 179, 60.366666666667) ,-60px 30px rgba(49, 97, 179, 62.533333333333) ,-62px 31px rgba(49, 97, 179, 64.7) ,-64px 32px rgba(49, 97, 179, 66.866666666667) ,-66px 33px rgba(49, 97, 179, 69.033333333333) ,-68px 34px rgba(48, 97, 179, 71.2) ,-70px 35px rgba(48, 97, 179, 73.366666666667) ,-72px 36px rgba(48, 97, 179, 75.533333333333) ,-74px 37px rgba(48, 97, 179, 77.7) ,-76px 38px rgba(48, 97, 179, 79.866666666667) ,-78px 39px rgba(48, 97, 179, 82.033333333333) ,-80px 40px rgba(48, 97, 179, 84.2) ,-82px 41px rgba(48, 97, 179, 86.366666666667) ,-84px 42px rgba(48, 97, 179, 88.533333333333) ,-86px 43px rgba(48, 97, 179, 90.7) ,-88px 44px rgba(48, 97, 179, 92.866666666667) ,-90px 45px rgba(48, 97, 179, 95.033333333333) ,-92px 46px rgba(48, 97, 179, 97.2) ,-94px 47px rgba(48, 97, 179, 99.366666666667) ,-96px 48px rgba(48, 96, 179, 101.53333333333) ,-98px 49px rgba(48, 96, 179, 103.7) ,-100px 50px rgba(48, 96, 179, 105.86666666667) ,-102px 51px rgba(48, 96, 179, 108.03333333333) ,-104px 52px rgba(48, 96, 179, 110.2) ,-106px 53px rgba(48, 96, 179, 112.36666666667) ,-108px 54px rgba(48, 96, 179, 114.53333333333) ,-110px 55px rgba(48, 96, 179, 116.7) ,-112px 56px rgba(48, 96, 179, 118.86666666667) ,-114px 57px rgba(48, 96, 179, 121.03333333333) ,-116px 58px rgba(48, 96, 179, 123.2) ,-118px 59px rgba(48, 96, 179, 125.36666666667) ,-120px 60px rgba(48, 96, 179, 127.53333333333);
    z-index: 97;
}
.text-box #text-four {
    transform: translate(15px, 30px);
    text-shadow: -1px -0.5px rgba(213, 174, 192, -0.4) ,-2px -1px rgba(62, 103, 180, 1.9333333333333) ,-3px -1.5px rgba(48, 96, 179, 4.2666666666667) ,-4px -2px rgba(43, 94, 178, 6.6) ,-5px -2.5px rgba(40, 93, 178, 8.9333333333333) ,-6px -3px rgba(39, 92, 178, 11.266666666667) ,-7px -3.5px rgba(38, 91, 178, 13.6) ,-8px -4px rgba(37, 91, 178, 15.933333333333) ,-9px -4.5px rgba(36, 91, 178, 18.266666666667) ,-10px -5px rgba(36, 91, 178, 20.6) ,-11px -5.5px rgba(35, 90, 178, 22.933333333333) ,-12px -6px rgba(35, 90, 178, 25.266666666667) ,-13px -6.5px rgba(35, 90, 178, 27.6) ,-14px -7px rgba(34, 90, 178, 29.933333333333) ,-15px -7.5px rgba(34, 90, 178, 32.266666666667) ,-16px -8px rgba(34, 90, 178, 34.6) ,-17px -8.5px rgba(34, 90, 178, 36.933333333333) ,-18px -9px rgba(34, 90, 178, 39.266666666667) ,-19px -9.5px rgba(34, 90, 177, 41.6) ,-20px -10px rgba(34, 90, 177, 43.933333333333) ,-21px -10.5px rgba(33, 90, 177, 46.266666666667) ,-22px -11px rgba(33, 89, 177, 48.6) ,-23px -11.5px rgba(33, 89, 177, 50.933333333333) ,-24px -12px rgba(33, 89, 177, 53.266666666667) ,-25px -12.5px rgba(33, 89, 177, 55.6) ,-26px -13px rgba(33, 89, 177, 57.933333333333) ,-27px -13.5px rgba(33, 89, 177, 60.266666666667) ,-28px -14px rgba(33, 89, 177, 62.6) ,-29px -14.5px rgba(33, 89, 177, 64.933333333333) ,-30px -15px rgba(33, 89, 177, 67.266666666667) ,-31px -15.5px rgba(33, 89, 177, 69.6) ,-32px -16px rgba(33, 89, 177, 71.933333333333) ,-33px -16.5px rgba(33, 89, 177, 74.266666666667) ,-34px -17px rgba(33, 89, 177, 76.6) ,-35px -17.5px rgba(33, 89, 177, 78.933333333333) ,-36px -18px rgba(33, 89, 177, 81.266666666667) ,-37px -18.5px rgba(33, 89, 177, 83.6) ,-38px -19px rgba(33, 89, 177, 85.933333333333) ,-39px -19.5px rgba(33, 89, 177, 88.266666666667) ,-40px -20px rgba(33, 89, 177, 90.6) ,-41px -20.5px rgba(33, 89, 177, 92.933333333333) ,-42px -21px rgba(33, 89, 177, 95.266666666667) ,-43px -21.5px rgba(33, 89, 177, 97.6) ,-44px -22px rgba(33, 89, 177, 99.933333333333) ,-45px -22.5px rgba(32, 89, 177, 102.26666666667) ,-46px -23px rgba(32, 89, 177, 104.6) ,-47px -23.5px rgba(32, 89, 177, 106.93333333333) ,-48px -24px rgba(32, 89, 177, 109.26666666667) ,-49px -24.5px rgba(32, 89, 177, 111.6) ,-50px -25px rgba(32, 89, 177, 113.93333333333) ,-51px -25.5px rgba(32, 89, 177, 116.26666666667) ,-52px -26px rgba(32, 89, 177, 118.6) ,-53px -26.5px rgba(32, 89, 177, 120.93333333333) ,-54px -27px rgba(32, 89, 177, 123.26666666667) ,-55px -27.5px rgba(32, 89, 177, 125.6) ,-56px -28px rgba(32, 89, 177, 127.93333333333) ,-57px -28.5px rgba(32, 89, 177, 130.26666666667) ,-58px -29px rgba(32, 89, 177, 132.6) ,-59px -29.5px rgba(32, 89, 177, 134.93333333333) ,-60px -30px rgba(32, 89, 177, 137.26666666667);
}
.note {
    font-family: Arial, sans-serif;
    color: #f9c2c5;
    font-size: 12px;
    margin-top: 45px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 30px;
}
.note a {
    color: #f9c2c5;
    text-decoration: none;
}
.note a:hover {
    text-decoration: underline;
}

.image-container {
    position: relative;
    left: 0;
}

.image-container img {
    position: absolute;
    right: -100px;
    bottom: -850px;
}


#eventsPage h1 {
    font-size: 40px;
    padding: 0;
}
