#reviewsPage {
    background-image: url("media/images/reviews.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%
}

#reviewsPage #wrapper {
    display: grid;
    grid-template-columns: 50vh 50vh;
    grid-template-rows: 50vh 50vh;
}
